body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}



.topNav{
    overflow: hidden;
    background-color: burlywood;
    height: 70px;
}


.navHead a{
    text-decoration: none;
    padding:10px;
    margin: 0%;
    float: right;
    display: block;
    color: #000000;
    font-size: 20 px;
    margin-top: 10px;
}

.navHead a:hover{
    background-color:rgb(138, 114, 84);
    margin: 0;
    height: 70px;
}

.icon a{
    color: #000000;
    font-size: 30px;
    display: block;
    float: right;
    margin-top: 10px;
    padding: 8px;
    text-decoration: none; 
}

.icon a:hover{
    background-color:rgb(138, 114, 84);
    margin: 0;
    height: 70px;
}
.title{
    text-align: center;
    font-size: 30px;
    
}

.text{
    text-align: center;
    font-size: 20px;
}

.logo{
    text-decoration: none;
    color: #000000;
    display: block;
    float: left;
    margin-left: 20px;
}

.contenedor img{
    height: 350px;
    width: 100%;
    
}



.contenedor{
    display: flex;
    width: 30%;

}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0 , 0 ,0 ,0.2);
}

.content{
    padding: 10px;
    text-align: center;
}


.card p{
    font-size: 25px;
    text-align: center;
}

.textos{
    text-align: center;
}

.addCart{
    text-align: center;
    padding: 15px;
}

.addCart button{
    border-radius: 6px;
    background-color:white;
    font-size: 20px;
    border: 1px solid #4b4b4b;
    color: #000000;
    padding: 10px;
}

.content button{
    border-radius: 6px;
    background-color:white;
    font-size: 20px;
    border: 1px solid #4b4b4b;
    color: #000000;
    padding: 8px;
    margin: 5px;
}

