body{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Sans-serif;
    text-align: center;
}



.topNav{
    background-color: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 5px 5px 0 rgba(20, 20, 20, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.137);;
    }


.navHead a{
    text-decoration: none;
    padding:10px;
    margin: 0%;
    float: left;
    display: block;
    color: #000000;
    font-size: 20px;
    margin-top: 10px;
    font-family: "Roboto", Sans-serif;
}

.navHead a:hover{
    background-color:rgb(61, 61, 61);
    height: 80px;
    margin: 0;

}
.navHead a:hover{
    color: #ffffff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.icon h3{
    margin: 0%;
    padding: 10px;
    display: block;
    float: left;
    font-size: 26px;
}

.icon a{
    color: #000000;
    font-size: 45px;
    display: block;
    float: right;
    padding: 10px;
    text-decoration: none; 
}

.icon a:hover{
    background-color:rgb(61, 61, 61);
    height: 100px;
    color: #ffffff;
}

.title{
    text-align: center;
    font-size: 30px;
}

.text{
    text-align: center;
    font-size: 20px;
}

.logo img{
    text-decoration: none;
    color: #000000;
    display: block;
    float: left;
    height: 80px;
    width: 80px;
}

.container img{
    height: 450px;
    width: 80%;

}



.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.containerCart{
    width: 40%;
    margin: 20px;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 3px 3px 1px rgb(114, 114, 114);
    padding: 0px; 
}

.containerCart img{
    width: 110%;
    height: 100%;
}

.containerCart:after{
    display: table;
    clear: both;
}
.colum h3{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 15px;
}
.title{
    text-transform: uppercase ;
    font-size: 35px;
}

.allCart{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.cards{
    width: 100%;
    margin: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 3px 3px 1px rgb(114, 114, 114);
    padding: 0px; 
    
    
}
.cards:after{
    display: table;
    clear: both;
}
.colum{
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

.content{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 0%;
}
.canti h2{
    margin: 10px;
}
.canti{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0%;
}

.numero{
    font-size: 30px;
}

.content button{
    margin: 10px;
    font-size: 20px;
}
.content h3{
    font-size: 30px;
    padding: 10px;
}


.cards h2{
    font-size: 25px;
    text-align: center;
}

.cards h4{
    text-align: center;
}

.addCart button{
    text-align: center;
    border-radius: 6px;
    background-color:rgb(102, 101, 97);
    font-size: 17px;
    border: 1px solid #4b4b4b;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.cardContenedor{
    display: block;
    float: left;
    width: 30%;
    height: 100%;
    padding: 10px;
    margin: 1%;
}



.itemContainer{
    width: 600px;
    height: 100%;
    margin: 0px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.507);
    max-width: 450px;
    margin: auto;
    text-align: center;  
    margin: 0px;
    padding: 0px;
}
.itemContainer img{
    height: 350px;
    width: 70%;
    
}



.ver{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button .verMas{
    text-decoration: none;
    color: white;
}

.ver:hover{
    opacity: 0.7;
    }


nav ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav li{
    display: flex;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
}

.dropDownContainer:hover li{
    display: flex;   
}

.textos {
    text-align: center;
    margin: 0;
    padding: 0;
}

.listaMain{
    text-align: center;
    list-style: none;
    padding-top: 15px;
}


.listaMain a{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    margin: 35px;
    transition: all ease-in-out 0.5s;
}

.listaMain a:hover{
    font-size: 28px;
}

.endCart {

    text-decoration: none;
    text-align: center;
    margin: 15px;
}

.endCart button{      
    border: #c7c3c3; 
    border-radius: 6px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(88, 141, 93);
    padding: 10px
}

.endCart button:hover { 
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}





.añadido{
    text-align: center;
    color: #4b4b4b;
    font-size: 20px;
    margin: 20px;
}

.sliderContent{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 0px 3px 4px rgb(41 40 40);
    position: absolute;
}

.mainImage{
    position: relative;
    width: 100%;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    height: 450px;
    background-image: url(images/fondo.jpg);
}       

hr{
    background-color: #4b4b4b;
    width: 90%;
    height: 1px;
}

footer{
    display: flex;

}

.footerContent img{
    height: 150px;
    width: 150px;
    display: block;
    float: left;
}

.footerContent .subNav{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 80%;
}

.footerContent a{
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
    color: #000;
}


.superContent{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content:center ;
}

.cartContainer{
    width: 60%;
    background-color: white;
    overflow: hidden;
    border: 1px solid rgb(82, 82, 82);
    height: 200px;
    margin: 5px;
    border-radius: 8px;
}

.cartContainer img{
    height: 200px;
    width: 220px;
}

.allCart{
    display: block;
    float: right;
    width: 70%;
    background-color: white;
    margin: 0 auto;
}

.superCartContainter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allCart h3{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 0;
}
.allCart:after{
    content: "";
    display: block;
    clear: both;
}

.allCart button{
    border-radius: 6px;
    background-color: rgb(253, 69, 69);
    font-size: 17px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 5px;
    margin: 80px;
}

.columna{
    float: left;
    width: 50%;
}

.finish{
    border-radius: 6px;
    background-color: rgb(96, 185, 111);
    font-size: 17px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
}

.clean{
    border-radius: 6px;
    background-color: rgb(250, 250, 250);
    font-size: 17px;
    border: 1px solid #858585;
    color: #020202;
    padding: 5px;
    margin: 5px;
}

.catSlider{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, 0.397);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 0px 3px 4px rgb(41 40 40);
}
.catContainer1:hover{
    width: 30%;
    height: 500px;
    
}
.catContainer2:hover{
    width: 30%;
    height: 500px;
    
}
.catContainer3:hover{
    width: 30%;
    height: 500px;
    
}

.boton{
    text-decoration: none;
    color: white;
}

.catContainer1{
    position: relative;
    width: 27%;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    height: 450px;
    background-image: url(https://www.digitalsport.com.ar/files/products/623e565456d00-578058-500x500.jpg);
    margin: 30px;
    transition: all ease-out 0.3s;
}       

.catContainer2{
    position: relative;
    width: 27%;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    height: 450px;
    background-image: url(https://www.digitalsport.com.ar/files/products/5ed6bbabcf463-502415-500x500.jpg);
    margin: 30px;
    transition: all ease-out 0.3s;
} 

.catContainer3{
    position: relative;
    width: 27%;
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    height: 450px;
    background-image: url(https://www.digitalsport.com.ar/files/products/621fa05412858-569330-500x500.jpg);
    margin: 30px;
    transition: all ease-out 0.3s;
} 



.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 0px;
}

.containeMain{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 0px;
    
}

.serviceItems{
    margin: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-family: "Roboto", Sans-serif;
    text-align: center;
}

.serviceItems h3{
    text-transform: uppercase;
    color: rgb(80, 71, 63);
}

.vl {
    border-left: 2px solid rgb(51, 51, 51);
    height: 70px;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

@media screen and (max-width: 1515px){    
    .cardContenedor{
        width: 29%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        
    }



    .itemContainer{
        width: 350px;
        height: 400px;
        margin: 40px;
    }

    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.507);
        max-width: 550px;
        margin: auto;
        text-align: center;  
        margin: 0px;
        padding: 0px;
    }
    .itemContainer img{
        height: 350px;
        width: 100%;
        
    }
}

@media screen and (max-width: 1240px) {
    
    .cartContainer{
        width: 60%;
        background-color: white;
        overflow: hidden;
        border: 1px solid rgb(82, 82, 82);
        height: 400px;
        margin: 5px;
        border-radius: 8px;
        width: 600px;
    }
    
}

@media screen and (max-width: 1218px){

    .contenedor{
        width :45%;
    }

}
@media screen and (max-width: 1105px){    
    .cardContenedor{
        width: 40%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }

    .itemContainer{
        width: 350px;
        height: 400px;
        margin: 40px;
    }

    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.507);
        max-width: 550px;
        margin: auto;
        text-align: center;  
        margin: 0px;
        padding: 0px;
    }
    .itemContainer img{
        height: 350px;
        width: 100%;
        
    }
}

@media screen and (max-width: 818px){

    .contenedor{
        width :100%;
    }

}

@media screen and (max-width: 798px){
    .cardContenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        padding: 10px;
        margin-left: 10px;
    }

    .itemContainer{
        width: 450px;
        height: 470px;
        margin: 40px;
    }
}






@media screen and (max-width: 703px){
    .itemContainer{
        width: 450px;
        height: 470px;
        margin: 40px;
    }

}

@media screen and (max-width: 670px){

    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 0px;
    }

    .catContainer1{
        width: 80%;
        height: 320px;
       
    }

    .catContainer2{
        width: 80%;
        height: 320px;
    }

    .catContainer3{
        width: 80%;
        height: 320px;
    }

    .catContainer1:hover{
        width: 90%;
    }

    .catContainer2:hover{
        width: 90%;
    }

    .catContainer3:hover{
        width: 90%;
    }

    .cardContenedor{

        margin-left: -10px;
    }

}

@media screen and (max-width: 560px){


    .itemContainer{
        width: 350px;
        height: 370px;
        margin: 60px;
    }



    .mainImage h2{
        font-size: 25px;
    }
    .mainImage p{
        font-size: 17px;
    }
}

@media screen and (max-width: 520px){

    .contenedor{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .listaMain a{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }


    .mainImage h2{
        font-size: 22px;
    }
    .mainImage p{
        font-size: 15px;
    }
}

@media screen and (max-width: 400px){

    .listaMain a{
        width: 60%;
    }

    .mainImage h2{
        font-size: 20px;
    }
    .mainImage p{
        font-size: 13px;
        
    }


}

